* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;

    background: #111;

    font-family: Arial, sans-serif;
}

canvas {
    display: block;
}

#info {

    position: fixed;

    top: 20px;
    left: 20px;

    z-index: 10;

    padding: 15px 20px;

    background: rgba(0, 0, 0, 0.65);

    color: white;

    border-radius: 10px;

    user-select: none;
}

#info h2 {
    margin: 0 0 10px 0;
}

#info p {
    margin: 5px 0;
}








#sceneFade {
    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: #f3f3f1;

    opacity: 1;

    transition:
        opacity 1.5s ease;

    pointer-events: none;

    z-index: 5;
}

#sceneFade.scene-ready {
    opacity: 0;
}